@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --bg-color:#4799F3;
    --gen-box-color:#0B0F2F;
    --font-color:#FDFDFD;
}

body{
    background-color: var(--bg-color);
    background-size:cover;
    background-position:center center;
    color:var(--font-color);
    font-family:"Lato", sans-serif;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    min-height:100vh;
    margin:0;
}

#password-generator-box{
    background-color:var(--gen-box-color);
    padding:25px 33px;
    border-radius:15px;
    width:560px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#title{
    font-size:44px;
    width:100%;
    font-weight:300;
    margin:0 0 15px 0;
}

.square-box{
    
}