@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: hsl(215, 33%, 17%, 0.94);
    font-family:"Lato", sans-serif;
    color:#fff;
    margin:0;
    overflow:hidden;
}

#app{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100vh;
    animation-name:showelement;
    animation-duration: 1s;
}

#disconnect-btn{
    background-color:rgba(0, 0, 0, 0.4);
    border-radius:50px;
    font-size:13px;
    padding:13px;
    cursor:pointer;
}

#disconnect-btn:hover{
    animation-name: changebtncolor;
    animation-duration:.4s;
    background-color:#6C63FF;
}

#disconnect-btn:active{
    transform:scale(0.98);
}

/*************MODAL*************/
.modal-container{
    display:none;
    background-color:rgba(0,0,0,0.8);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    animation-name:showelement;
    animation-duration: 1s;
}

.modal-container.show{
    display:block;
}

.modal{
    background-color: hsl(215, 33%, 17%, 0.94);
    border-radius:8px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -100%);
    width:200px;
    height:110px;
    padding:10px;
}

.connect-input{
    background-color: transparent;
    color:#fff;
    font-size:13px;
    border:1px #fff solid;
    padding:10px;
}

.connect-input:focus{
    outline:none;
}

.connect-input::placeholder{
    color:#fff;
}

.btn{
    background-color:rgba(0, 0, 0, 0.4);
    border-radius:50px;
    font-size:13px;
    padding:13px;
    margin-top:10px;
    cursor:pointer;
}

.btn:hover{
    animation-name: changebtncolor;
    animation-duration:.4s;
    background-color:#6C63FF;
}

.question{
    text-align: center;
}

.btn-line{
    display:flex;
    letter-spacing: 2px;
}
/*******************************/

/*************USER LIST*************/
.user-list{
    background-color:rgba(0, 0, 0, 0.4);
    letter-spacing: 3PX;
    font-weight: 600;
    list-style: none;
    text-align:center;
    padding:20px;
    margin-bottom:15px;
    margin-left:10px;
    border-radius:5px;
}

.user-list li{
    font-weight:500;
    font-size:15px;
    margin-top:5px;
}
/***********************************/

/************CALCULATOR************/
.cal{
    display:flex;
    flex-direction:column;
    font-size:25px;
    width:260px;
    height:400px;
    margin-top:15px;
}

.cal-row.cal-display{
    display: inline;
    background-color:rgba(0, 0, 0, 0.4);
    width:250px;
    margin-left:10px;
    height:55px;
    text-align:right;
    overflow-x:auto;
    overflow-y: hidden;
    letter-spacing: 3px;
    padding:10px;
}

.cal-row{
    display:flex;
    width:100%;
}

.cal-btn{
    background-color: #354357;
    margin-left:10px;
    margin-top:10px;
    width:55px;
    height:55px;
    text-align: center;
    padding:10px;
    cursor:pointer;
    border-radius:3px;
}

.cal-btn:hover{
    animation-name: changebtncolor;
    animation-duration:.4s;
    background-color:#6C63FF;
}

.cal-btn:active{
    transform:scale(0.96);
}

.cal-btn.digit{
    font-weight:600;
}

#zero-btn{
    width:120px;
}
/**********************************/

/************LOG BOARD************/
.log-board{
    background-color:rgba(0, 0, 0, 0.3);
    border-radius:5px;
    height:300px;
    width:250px;
    font-size:14px;
    list-style: none;
    padding:5px 10px 5px 10px;
    margin:0 0 0 10px;
    overflow:auto;
}

.log-board li{
    margin-bottom:5px;
}
/*********************************/

@keyframes changebtncolor{
    from{
        background-color:#354357;
    }
    to{
        background-color:#6C63FF;
    }
}

@keyframes showelement{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}