@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing:border-box;
}

body{
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
    color:#fff;
    font-family:"Lato", sans-serif;
    text-align:center;
    margin:0;
}

.app::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.25);
}

body *{
    z-index:1;
}

.app{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

.clock{
    font-size:150px;
    color:rgba(255, 255, 255, 0.8);
    margin:0 40px;
}

.greet{
    font-size:50px;
    animation-name:showelement;
    animation-duration:1.2s;
}

.name-modal-container{
    background-color: rgba(0,0,0,0.6);
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}

.name-modal-container.show-modal{
    display:block;
}

.name-modal{
    background-color: rgba(255, 255, 255, 0.5);
    position:absolute;
    overflow:hidden;
    border-radius:5px;
    top:50%;
    left:50%;
    transform:translate(-50%, -130%);
    max-width:100%;
    width:400px;
    height:220px;
    display:flex;
    flex-direction:column;
    animation-name:showelement;
    animation-duration:1.2s;
}

.name-modal p{
    margin:20px 0 10px 0;
    padding-bottom:20px;
    font-size:35px;
    font-weight:500;
    border-bottom:2px solid #fff;
}

.name-modal input{
    background-color:transparent;
    color:#fff;
    outline:none;
    font-size:25px;
    font-style:italic;
    padding:10px 0 5px 5px;
    margin:0px 50px;
    border:0;
    border-bottom:2px dotted #fff;
}

.name-modal input:focus{
    outline: none;
    border-bottom:3px solid #fff;
    font-style: normal;
}

.name-modal input:hover{
    transform: scale(1.05);
}

.name-modal input::placeholder{
    color:rgba(255, 255, 255, 0.6);
}

.name-modal button{
    cursor:pointer;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    color:rgba(0,0,0,0.5);
    border-radius:5px;
    font-size:15px;
    font-weight: 600;
    border:0;
    left:50%;
    bottom:20px;
    transform:translate(-50%, 0);
    padding:13px 25px;    
}

.name-modal button:focus{
    outline: none;
}

@media (max-width:620px){
    .clock{
        font-size:130px;
    }
    .greet{
        font-size:40px;
    }
}

@media (max-width:590px){
    .clock{
        font-size:100px;
    }
    .greet{
        font-size:20px;
    }
}

@keyframes showelement {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}